@import "tailwindcss";

@theme {
  --color-brand-50: #e0f2fe;
  --color-brand-100: #bae6fd;
  --color-brand-200: #7dd3fc;
  --color-brand-300: #38bdf8;
  --color-brand-400: #0ea5e9;
  --color-brand-500: #0284c7;
  --color-brand-600: #0369a1;
  --color-brand-700: #075985;
  --color-brand-800: #0c4a6e;
  --color-brand-900: #082f49;
  --color-brand-950: #0a1e2f;
}
